﻿@using System.Configuration
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Dome some math...?
        Here is a number: @ViewBag.Number
    </div>
    <div>
        We're on the "@ConfigurationManager.AppSettings["Octo-Env-Name"]" server
    </div>
    <div>
        YAYYY NEW MSG!
    </div>
    <div>
        The color of this machine is <b>@ConfigurationManager.AppSettings["Octo-Machine-Color"]</b>
    </div>
</body>
</html>
